.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

input {
  padding: 10px;
  margin-right: 1rem;
}
  
label {
  font-size: larger;
  margin-right: 3.5rem;
} 

pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}


button {
  background: #0563b4 !important;
}

p {
  color: red;
}

button {
  padding: 10px;
}

.gender {
  display: flex;
  margin: 1rem;
  justify-content: start;
}

.submit {
  background-color: #0563b4;
  color: white;
  font-weight: 800;
}